body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color:gainsboro;
  color: black;
  padding: 15px;
  text-align: center;
}

.navbar img {
  max-width: 100px;
  max-height: 40px;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}
